version: "3.8"

services:
  web:
    build: .
    container_name: php-web
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: aksi_relawan
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
