name: CI CD Docker VPS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t webku .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy ke VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /home/web
            git pull origin main
            docker build -t webku .
            docker stop web || true
            docker rm web || true
            docker run -d --name web -p 80:80 webku
