name: CI PHP Aksi Relawan

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'

    - name: Cek versi PHP
      run: php -v

    - name: CI selesai
      run: echo "CI berhasil - project PHP siap di-deploy"
